<h1>게시판</h1>
<form action='/post/create' method="post">    <div class ="col-sm-3">
    작성자 : <input type="text" class="form-control" name='username' size='3'/><br />  </div>
    <div class ="col-sm-8">
    제목 : <input type="text" class="form-control" name='title' placeholder="제목을 입력해"/><br />
    </div>
    내용 : <div class="form-group">
    <textarea name='text' class="form-control" cols='50' rows='20'></textarea>
  </div>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <button type="submit" class="btn btn-info">전송</button>
    <!-- <input type="submit" value="전송"/> -->
</form>
