<form action="/post/create"  method="post">
  <div class="form-group" ><h3>
      제목:</h3> <input type="text" name="title"
    style="width: 600px;"
 class="form-control" size="7"  placeholder="Title">
      <h5> 작성자:</h5> <input   style="width: 300px;" type="text" name="name" class="form-control"  placeholder="Writer">
  </div>
  <div class="form-group">
 <textarea style="width: 600px;" class="form-control" name="text" rows="20" cols="20"></textarea>
</div>
<input type="hidden" name="authenticity_token"  value="<%= form_authenticity_token %>"/><br />
<input type="submit" />
</form>
