<h1>JOIN US!!BRO</h1>
<form action="/create">
  ID: <input  type="text" name="ids"/><br />
  PWD: <input type= "password" name="pwd1"/><br />
  PWD repeat: <input type= "password" name="pwd2"/><br />
  E-mail: <input  type="email" name="email"/><br />
  Name: <input  type="text" name="name"/><br />
  <input type="submit" value="join"/>
</form>
