<!Doctype html>
  <html>
    <head>
      <meta charset="utf-8" />
      <title>signup</title>
    </head>
    <body>
      <form action="/completes">

      <h3>email: <br /> <input type="text" name="email"/></h3>
      <h3>name: <br /> <input type="text" name="name"/></h3>
      <h4>ID:  <input type="text" name="ID" /></h4>
      <h4>PW: <input type="password" name="PW" /></h4>
      <h4>PW repeat: <input type="password" name="PW2" /></h4>
      <input type="submit" value="signup" />
    </form>
  </body>
  </html>
