<h3>Login</h3>
<form action ="/user/login_process" method="post">
  Name: <input type="text" name="name" />
  e-mail: <input type="email" name="email" />
  password: <input type="password" name="password" />
  <input type="hidden" name="authenticity_token"  value="<%=form_authenticity_token%>"/>
  <input type="submit" value="join" />

</form>
