<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>op.gg</title>
  </head>
  <body>
    <h3>가짜 op.gg 승패 검색기</h3>
    <form action="/lol">
      소환사 명:<input type="text" value="lol ID" name="username"/>
      <input type="submit" />
    </form>
  </body>
</html>
