<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>vote page</title>
  </head>
  <body>
    <h3>vote page for practice time</h3>
    <form action="/result">
      1 hour<input type="radio" name="count" value="1"/><br />
      2 hour<input type="radio" name="count" value="2"/><br />
      3 hour<input type="radio" name="count" value="3"/><br />
      4 hour<input type="radio" name="count" value="4"/><br />
      all day<input type="radio" name="count" value="all day"/><br />
      <input type="submit" />
    </form>
  </body>
</html>
