<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>vote page</title>
  </head>
  <body>
    <h1>please vote</h1>
    <form action="/resultp">
      <h5>vote no.1<input type="radio" name="v" value="1" /></h5>
      <h5>vote no.2<input type="radio" name="v" value="2" /></h5>
      <h5>vote no.3<input type="radio" name="v" value="3" /></h5>
      <h5>vote no.4<input type="radio" name="v" value="4" /></h5>
      <h5>submit<input type="submit" /></h5>
    </form>
  </body>
</html>
