<!Doctype html>
<html>
  <head>
    <title>글 쓰는 곳</title>
  </head>
  <body>
    <form action="/updateUD/<%=@p.id%>">
      <h4>제목 : <br /><input type="text" name="title" size="100" value="<%= @p.title%>" /></h4>
      <h4>글 :</h4>
      <textarea name="text" rows="30" cols="100"><%=@p.text%></textarea><br />
      <input type="submit" value="edit"/>
    </form>
  </body>
</html>
