<!Doctype html>
<html>
  <head>
    <title>글 쓰는 곳</title>
  </head>
  <body>
    <form action="/createUD">
      <h4>제목 : <br /><input type="text" name="title" size="100"/></h4>
      <h4>글 :</h4>
      <textarea name="text" rows="30" cols="100"></textarea><br />
      <input type="submit" value="save"/>
    </form>
  </body>
</html>
