<!--여기서 루비 코드 활용할 수 있음??????????????-->
<!Doctype HTML>
<html>
  <head>
    <title> MARORO WORLD </title>
  </head>
  <body>
    <!--<%= %>여기안에는 루비 코드 쓰겠다-->
<%10.times do%>
    <h1><%= @name%>
      WELCOM TO MARORO WORLD!@#$%^&</h1>
      <%end %>
      <%if @name=='maro'%>
      <h1><%= @name%>
        YOP!</h1>
      <%end%>
  </body>
</html>
